.container, .hero, .eula {
  margin-left: auto;
  margin-right: auto; }

body {
  background-color: #ffffff;
  color: #757575;
  font-family: "Roboto", sans-serif;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-size: 14px; }

body .modal-open {
  overflow: hidden; }

h1,
h2,
h3,
p,
ul {
  margin-top: 0;
  margin-bottom: 0; }

img {
  max-width: 100%;
  height: auto;
  display: block; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

textarea {
  resize: none; }

.container {
  padding-left: 15px;
  padding-right: 15px; }
  @media screen and (max-width: 767px) {
    .container {
      width: 480px; } }
  @media screen and (min-width: 768px) {
    .container {
      width: 768px; } }
  @media screen and (min-width: 1200px) {
    .container {
      width: 1200px; } }

@media screen and (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px; } }
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px; } }

.section__title {
  color: #000000;
  font-weight: bold;
  text-align: center; }
  @media screen and (max-width: 1199px) {
    .section__title {
      margin-bottom: 30px;
      font-size: 28px;
      line-height: 1.18; } }
  @media screen and (min-width: 1200px) {
    .section__title {
      margin-bottom: 50px;
      font-size: 36px;
      line-height: 1.16; } }

.page-header {
  position: relative;
  border-bottom: 1px solid #ececec; }
  @media screen and (max-width: 767px) {
    .page-header {
      display: flex;
      align-items: center;
      width: 480px;
      margin-right: auto;
      margin-left: auto;
      padding-top: 16px;
      padding-bottom: 16px; } }

.container--flex,
.nav-flex {
  display: flex;
  align-items: center; }

.nav-flex {
  display: flex; }

.container--flex,
.page-nav {
  display: flex;
  align-items: center; }

@media screen and (max-width: 767px) {
  .site-adr,
  .site-nav {
    display: none; } }

.mobile-menu {
  display: flex;
  align-items: center; }
  @media screen and (min-width: 768px) {
    .mobile-menu {
      display: none; } }

@media screen and (max-width: 767px) {
  .page-nav__menu-container {
    display: none;
    position: absolute;
    min-width: 482px;
    width: 100%;
    top: 90%;
    left: 0px;
    z-index: 999;
    background-color: #ffffff; }
    .page-nav__menu-container.is-open {
      display: block; } }
@media screen and (min-width: 768px) {
  .page-nav__menu-container {
    display: flex;
    align-items: center; } }

@media screen and (max-width: 767px) {
  .menu-button {
    display: inline-flex;
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    margin-left: auto; } }
@media screen and (min-width: 768px) {
  .menu-button {
    display: none; } }

.menu-button__burger-icon {
  display: none; }
  .menu-button:hover .menu-button__burger-icon, .menu-button:focus .menu-button__burger-icon {
    fill: #2196f3; }

.menu-button:hover .menu-button__cross-icon, .menu-button:focus .menu-button__cross-icon {
  fill: #2196f3; }

.is-open .menu-button__burger-icon {
  display: block; }

.is-open .menu-button__cross-icon {
  display: none; }

@media screen and (max-width: 767px) {
  .site-nav--mobile {
    padding-left: 40px;
    margin-bottom: 300px; } }

@media screen and (max-width: 767px) {
  .site-adr--mobile {
    padding-left: 40px;
    margin-bottom: 64px; } }

@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
    margin-left: 88px; } }

@media screen and (min-width: 768px) {
  .site-nav__item {
    position: relative; }
    .site-nav__item + .site-nav__item {
      margin-left: 50px; } }
@media screen and (max-width: 767px) {
  .site-nav__item:not(:last-child) {
    margin-bottom: 32px; } }

.site-nav__link {
  color: #000000;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
  .site-nav__link:hover, .site-nav__link:focus {
    color: #2196f3; }
  @media screen and (max-width: 767px) {
    .site-nav__link {
      font-size: 40px; }
      .site-nav__link--current {
        color: #2196f3; } }
  @media screen and (min-width: 768px) {
    .site-nav__link {
      display: block;
      padding-top: 32px;
      padding-bottom: 32px; }
      .site-nav__link--current {
        color: #2196f3; }
      .site-nav__link--current::after {
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: #2196f3;
        border-radius: 2px; } }

.site-adr__link {
  color: #757575;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
  .site-adr__link:hover, .site-adr__link:focus {
    color: #2196f3; }
  @media screen and (max-width: 767px) {
    .site-adr__link {
      font-size: 24px;
      line-height: 1.17; }
      .site-adr__link:hover, .site-adr__link:focus {
        font-size: 34px; } }

@media screen and (min-width: 768px) {
  .site-adr {
    margin-left: auto; } }

.socials-set {
  display: flex;
  padding-left: 40px;
  padding-bottom: 48px; }

.socials-set__item {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22; }
  .socials-set__item:not(:last-child) {
    margin-right: 20px; }
  @media screen and (min-width: 768px) {
    .socials-set__item {
      display: none; } }

.site-adr__link {
  color: #757575;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
  .site-adr__link:hover, .site-adr__link:focus {
    color: #2196f3; }
  @media screen and (max-width: 767px) {
    .site-adr__link {
      font-size: 24px;
      line-height: 1.17; }
      .site-adr__link:hover, .site-adr__link:focus {
        font-size: 34px; } }

@media screen and (min-width: 768px) {
  .site-adr {
    margin-left: auto; } }

.socials-set__link {
  color: #2196f3; }

.site-adr__icon {
  margin-right: 10px;
  fill: #757575;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
  .site-adr__link:hover .site-adr__icon, .site-adr__link:focus .site-adr__icon {
    fill: currentColor; }
  @media screen and (max-width: 767px) {
    .site-adr__icon {
      display: none; } }

@media screen and (max-width: 767px) {
  .site-adr__item:not(:last-child) {
    margin-bottom: 32px; } }
@media screen and (min-width: 1200px) {
  .site-adr__item:not(:last-child) {
    margin-right: 50px; } }

@media screen and (min-width: 1200px) {
  .site-nav {
    margin-left: 93px; }

  .site-adr {
    display: flex; }

  .site-adr__link {
    display: flex;
    align-items: center; }

  .site-adr__icon {
    margin-right: 10px; } }
.hero {
  background: #2f303a;
  text-align: center;
  padding: 200px 0;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Header-mobile1x.jpg);
  background-size: cover;
  background-position: center; }
  @media screen and (max-width: 767px) {
    .hero {
      width: 480px; } }
  @media screen and (min-width: 768px) {
    .hero {
      max-width: 768px;
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Header-tablet1x.jpg); } }
  @media screen and (min-width: 1200px) {
    .hero {
      max-width: 1600px;
      padding: 200px 0;
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Header-desktop1x.jpg); } }

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Header-mobile2x.jpg); } }
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Header-tablet2x.jpg); } }
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Header-desktop2x.jpg); } }
.hero__button {
  color: #000000;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 6px;
  padding: 11px 34px;
  display: inline-block; }

.hero__title {
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-transform: uppercase;
  margin-bottom: 30px;
  letter-spacing: 0.06em; }
  @media screen and (min-width: 1200px) {
    .hero__title {
      font-size: 44px;
      line-height: 1.36; } }

.hero__button.primary {
  color: #ffffff;
  background-color: #2196f3;
  border: none;
  border: 1px solid transparent; }

.hero__button.secondary {
  color: #212121;
  background-color: #f5f4fa;
  border: none;
  border: 1px solid transparent; }

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  min-height: 581px;
  min-width: 528px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px; }

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0000001a;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2; }

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden; }

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7); }

.pointer {
  cursor: pointer; }

.modal__button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1); }

.modal__icon {
  transform: translate(-10%, 10%);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }

.modal__button-close:hover .modal__icon {
  fill: #2196f3; }

.current::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px; }

.modal-form__text {
  display: inline-block;
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 12px;
  color: #212121; }

.send-button-icon {
  fill: #ffffff;
  margin-left: 10px; }

.modal-form {
  padding: 40px; }

.modal-form__list {
  margin-bottom: 20px; }

.modal-form__item {
  display: flex;
  flex-direction: column; }

.modal-form__item:not(:last-child) {
  margin-bottom: 10px; }

.modal__button-send {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
  .modal__button-send:hover, .modal__button-send:focus {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px; }

.eula {
  display: flex;
  align-items: center;
  justify-content: center; }

.eula__link {
  color: #2196f3; }

.eula__field {
  display: flex;
  align-items: center; }

.form__label {
  margin-bottom: 4px; }

.modal-form__wrap {
  position: relative; }

.modal-form__input {
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  min-height: 40px;
  width: 448px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
  .modal-form__input:hover, .modal-form__input:focus {
    border: 1px solid #2196f3;
    border-radius: 4px;
    outline: transparent; }

.modal-form__input:focus + .modal-form__icon {
  fill: #2196f3; }

.modal-form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translatey(-50%);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }

.modal-form__textarea {
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px; }
  .modal-form__textarea:hover, .modal-form__textarea:focus-within {
    border: 1px solid #2196f3;
    border-radius: 4px;
    outline: transparent; }
    .modal-form__textarea:hover::placeholder, .modal-form__textarea:focus-within::placeholder {
      color: #75757580;
      line-height: 1.02; }

.checkbox-vector {
  margin-right: 8px; }

.eula__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  margin-right: 8px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
  .eula__checkbox:checked + .eula__icon {
    background-color: #2196f3;
    background-image: url("../images/icon-check.svg");
    background-size: contain;
    background-origin: border-box;
    border-color: #2196f3; }

.eula__checkbox {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px; }

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0; }

@media screen and (max-width: 767px) {
  .char-list {
    max-width: 480px; } }
@media screen and (min-width: 768px) {
  .char-list {
    display: flex; } }
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .char-list {
    flex-wrap: wrap;
    margin: -15px; } }

@media screen and (max-width: 767px) {
  .char-list__item:not(:last-child) {
    margin-bottom: 30px; } }
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .char-list__item {
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin: 15px; } }
@media screen and (min-width: 1200px) {
  .char-list__item {
    margin: 0 30px 0 0; }
    .char-list__item:nth-child(4n) {
      margin-right: 0; } }

.char-list__toe {
  display: flex;
  justify-content: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  padding: 25px 0; }

.char-list__icon {
  width: 70px;
  height: 70px; }

.char-list__title {
  color: #000000;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 30px; }

.char-list__text {
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #757575; }

.section--no-padding-top {
  padding-top: 0; }

.spec-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-right: -30px; }

.spec-list__item {
  position: relative;
  width: 370;
  margin-right: 30px;
  z-index: 1; }

.spec-list__title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  font-size: inherit;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8); }

.section--no-ptop {
  padding-top: 0; }

.spec-list .item:last-child {
  margin-right: 0; }

@media screen and (max-width: 1199px) {
  .section--no-padding-top {
    display: none; } }

.section--bg-color {
  background-color: #f5f4fa; }
  @media screen and (max-width: 767px) {
    .section--bg-color {
      min-width: 480px; } }
  @media screen and (min-width: 768px) {
    .section--bg-color {
      min-width: 768px; } }

@media screen and (min-width: 768px) {
  .team-list {
    display: flex; } }
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list {
    flex-wrap: wrap;
    margin: -15px; } }

.team-list__item {
  background: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2); }
  @media screen and (max-width: 767px) {
    .team-list__item {
      width: 450px; }
      .team-list__item:not(:last-child) {
        margin-bottom: 30px; } }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .team-list__item {
      width: 354px;
      flex-basis: calc((100% - 2 * 30px) / 2);
      margin: 15px; } }
  @media screen and (min-width: 1200px) {
    .team-list__item {
      width: 270px;
      margin-right: 30px; }
      .team-list__item:nth-child(4n) {
        margin-right: 0; } }

@media screen and (max-width: 767px) {
  .team-list__img {
    width: 450px;
    height: 460px; } }
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list__img {
    width: 354px;
    height: 374px; } }
@media screen and (min-width: 1200px) {
  .team-list__img {
    width: 270px;
    height: 260px; } }

.team-list__title {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 10px; }

.team-list__profession {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: center; }

.team-list__description {
  padding: 30px 0; }
  @media screen and (min-width: 1200px) {
    .team-list__description {
      padding-bottom: 30px; } }

.par-sec {
  background-color: #f5f4fa; }

.socials {
  display: flex; }

.socials--margin-top {
  justify-content: center;
  margin-top: 16px; }

.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
  .socials__link:hover, .socials__link:focus {
    background-color: #2196f3; }

.socials__link--bglight {
  background-color: #ffffff; }

.socials__item:not(:last-child) {
  margin-right: 10px; }

.socials__icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
  .socials__link:hover .socials__icon, .socials__link:focus .socials__icon {
    fill: #ffffff; }

.socials__link--bg-dark {
  background-color: #ffffff1a; }

.socials__icon--fill-reverse {
  fill: #ffffff;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }

.client-list {
  display: flex; }
  @media screen and (max-width: 1199px) {
    .client-list {
      flex-wrap: wrap;
      margin: -15px; } }
  @media screen and (min-width: 1200px) {
    .client-list {
      justify-content: center; } }

.client-list__link {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
  .client-list__link:hover, .client-list__link:focus {
    border-color: #2196f3; }
  @media screen and (max-width: 767px) {
    .client-list__link {
      padding: 15px 51px; } }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .client-list__link {
      padding: 15px 59px; } }
  @media screen and (min-width: 1200px) {
    .client-list__link {
      padding: 16px 32px; } }

@media screen and (max-width: 767px) {
  .client-list__item {
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin: 15px; } }
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .client-list__item {
    flex-basis: calc((100% - 3 * 30px) / 3);
    margin: 15px; } }
@media screen and (min-width: 1200px) {
  .client-list__item:not(:last-child) {
    margin-right: 30px; } }

.client-list__icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
  .client-list__link:hover .client-list__icon, .client-list__link:focus .client-list__icon {
    fill: #2196f3; }

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px; }
  @media screen and (max-width: 767px) {
    .footer {
      width: 480px;
      text-align: center;
      margin-right: auto;
      margin-left: auto; } }

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__tablet-flex {
    display: flex;
    align-items: baseline;
    justify-content: center;
    text-align: center;
    margin-bottom: 60px; } }
@media screen and (min-width: 1200px) {
  .footer__tablet-flex {
    display: flex;
    align-items: baseline; } }

@media screen and (min-width: 1200px) {
  .container--flex-baseline {
    display: flex;
    align-items: baseline; } }

.footer-address {
  font-style: normal;
  color: #ffffff;
  margin-top: 20px; }

.footer-address__link {
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
  .footer-address__link:hover, .footer-address__link:focus {
    color: #2196f3; }

.footer-adr .link {
  color: #afb1b8;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none; }

.footer-adr .link-current {
  color: #2196f3; }

@media screen and (max-width: 1199px) {
  .footer-address__item {
    margin-bottom: 8px; } }
@media screen and (min-width: 1200px) {
  .footer-address__item {
    margin-bottom: 9px; } }
.footer-address__item:last-child {
  margin-bottom: 0; }

@media screen and (max-width: 767px) {
  .footer-socials {
    margin-bottom: 60px; } }
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-socials {
    margin-left: 165px; } }
@media screen and (min-width: 1200px) {
  .footer-socials {
    margin-left: 70px; } }

.icons-list-name {
  color: #f5f4fa;
  text-transform: uppercase;
  margin-bottom: 20px;
  display: inline-block; }

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-input-box {
    text-align: center; } }
@media screen and (min-width: 1200px) {
  .footer-input-box {
    margin-left: 93px; } }

.footer-bold-text {
  display: inline-block;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 20px; }

@media screen and (min-width: 1200px) {
  .footer-form {
    display: flex; } }

.footer-form__input {
  margin-bottom: 20px;
  width: 358px;
  height: 50px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: inherit;
  color: #ffffff;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px; }
  .footer-form__input:focus {
    border: 1px solid #2196f3;
    border-radius: 4px;
    outline: transparent; }
  .footer-form__input::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    line-height: 1.25; }
  @media screen and (max-width: 1199px) {
    .footer-form__input {
      width: 450px;
      height: 50px; } }
  @media screen and (min-width: 1200px) {
    .footer-form__input {
      width: 358px;
      height: 50px;
      padding-left: 16px; } }

.footer-form__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  margin-left: 12px;
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
  .footer-form__button:hover, .footer-form__button:focus {
    background-color: #188ce8; }
  @media screen and (max-width: 767px) {
    .footer-form__button {
      margin-left: auto;
      margin-right: auto; } }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .footer-form__button {
      margin-left: auto;
      margin-right: auto; } }

.footer-form__icon {
  fill: #ffffff;
  margin-left: 10px; }

@media screen and (max-width: 767px) {
  .socials {
    justify-content: center; } }

.logo {
  color: #2196f3;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19; }

.logo__color {
  color: #000000; }

.logo-color__prefix {
  color: #2196f3; }

.logo-color__suffix {
  color: #ffffff; }

.port-sel {
  display: flex;
  margin-bottom: 50px;
  justify-content: center; }
  @media screen and (max-width: 767px) {
    .port-sel {
      flex-wrap: wrap;
      justify-content: start;
      margin-bottom: 40px; } }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .port-sel {
      margin-bottom: 30px; } }

.port-sel__item:not(:last-child) {
  margin-right: 8px; }
@media screen and (max-width: 767px) {
  .port-sel__item:nth-child(-n + 3) {
    margin-bottom: 15px; } }

.port-sel__button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border: transparent;
  color: #212121;
  background-color: #f5f4fa;
  padding: 6px 22px;
  border-radius: 4px;
  transition-property: background-color, color, box-shadow, border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
  .port-sel__button:hover, .port-sel__button:focus {
    background-color: #2196f3;
    color: #ffffff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12); }

.por-nav-cur {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12); }

@media screen and (min-width: 768px) {
  .card-set {
    display: flex;
    flex-wrap: wrap; } }
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card-set {
    margin: -15px; }
    .card-set:last-child {
      margin-bottom: 0; } }

.card-set__title {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 10px; }

.card-set__descr {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #757575; }

@media screen and (max-width: 767px) {
  .card-set__item:not(:last-child) {
    margin-bottom: 30px; } }
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card-set__item {
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin: 15px; }
    .card-set__item:last-child {
      margin-bottom: 0; } }
@media screen and (min-width: 1200px) {
  .card-set__item {
    flex-basis: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px; }
    .card-set__item:nth-child(3n) {
      margin-right: 0; }
    .card-set__item:nth-last-child(-n + 3) {
      margin-bottom: 0; } }

.card-set__overlay {
  position: relative;
  overflow: hidden; }

.card-set__overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  background-color: #2196f3e6;
  color: #ffffff;
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); }
  .card-set__link:hover .card-set__overlay-text, .card-set__link:focus .card-set__overlay-text {
    opacity: 1;
    transform: translatey(0%); }

.card-set__text {
  padding: 20px 24px;
  border: 1px solid #eeeeee; }

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card-set__text--big {
    flex-basis: 142px;
    flex-grow: 1; } }
.card-set__link {
  display: flex;
  flex-direction: column;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
  .card-set__link:hover, .card-set__link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16); }

@media screen and (max-width: 767px) {
  .card-set__image {
    width: 450px;
    height: 294px; } }
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card-set__image {
    width: 354px;
    height: 294px; } }

/*# sourceMappingURL=main.css.map */
