.site-nav .item:last-child,
.site-adr .item:last-child,
.characteristics-list .item:last-child,
.specialisation-list .item:last-child {
  margin-right: 0;
}
.characteristics-list {
  display: flex;
  margin-right: -30px;
}
.characteristics-list .title {
  color: $title-text-color;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.specialisation-list,
.team-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-right: -30px;
}
.characteristics-list .title,
.specialisation-list .title {
  color: $title-text-color;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.characteristics-list .link {
  color: $accent-color;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: $primary-text-color;
}
.icons {
  display: flex;
  justify-content: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  padding: 25px 0;
}

.icons-icon {
  width: 70px;
  height: 70px;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
}
