.client-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.client-list__link {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  padding: 16px 32px;

  @include centeredFlex();

  @include mainTransition(border-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border-color: $accent-color;
  }
}

.client-list__item:not(:last-child) {
  margin-right: 30px;
}
.client-list__icon {
  fill: $icons-color;
  @include mainTransition(fill);
  .client-list__link:hover &,
  .client-list__link:focus & {
    fill: $accent-color;
  }
}
