.footer {
  background: $hero-bakcground;
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and( max-width: 767px) {
    width: 480px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
}
.footer__tablet-flex {
  @media screen and(min-width: 768px) and(max-width: 1199px) {
    display: flex;
    align-items: baseline;
    justify-content: center;
    text-align: center;
  }

  @media screen and(min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}

.container--flex-baseline {
  @media screen and(min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}
.footer-address {
  font-style: normal;
  color: var(--primary-white-color);
  margin-top: 20px;
  margin-bottom: 60px;
}
.footer-adr .link {
  color: $icons-color;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.footer-adr .link-current {
  color: $accent-color;
}
.footer-address__item {
  margin-bottom: 9px;
}
.footer-address__link {
  color: var(--secondary-text-color);
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.footer-icons {
  margin-left: 70px;
}
.icons-list-name {
  color: $por-sel-background;
  text-transform: uppercase;
}

.footer-input-box {
  margin-left: auto;
}
.footer-bold-text {
  display: inline-block;
  color: $primary-white-color;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer-form {
  display: flex;
}
.footer-form__input {
  width: 358px;
  height: 50px;
  padding-left: 16px;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: inherit;

  color: $primary-white-color;
  background-color: var(--hero-background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.footer-form__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  margin-left: 12px;

  background-color: $accent-color;
  color: $primary-white-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;

  cursor: pointer;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
