.por-sel {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}
.por-sel__item:not(:last-child) {
  margin-right: 8px;
}
.por-sel .link {
  color: $primary-white-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}
.por-sel .link:hover,
.por-sel .link:focus {
  color: $accent-color;
}

.por-sel .link-current {
  color: $accent-color;
}
.portfolio-navigation {
  border: transparent;
  color: $primary-text-color;
  background-color: $por-sel-background;
  padding: 6px 22px;
  transition-property: background-color, color, box-shadow, border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $primary-white-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
.por-nav-cur {
  background-color: $accent-color;
  color: $primary-white-color;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
