.section--no-ptop {
  padding-top: 0;
}

.services-list {
  display: flex;
}

.services-list__item {
  position: relative;
  width: 370;
  margin-right: 30px;
  z-index: 1;

  &:nth-child(3n) {
    margin-right: 0;
  }
}

.services-list__title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;

  font-size: inherit;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: $primary-white-color;
  background-color: rgba(47, 48, 58, 0.8);
}
