.team-list {
  display: flex;
  //  align-items: center;
  // flex-wrap: wrap;
  // margin-right: -30px;
  // /* margin-bottom: -30px; */
}

.section--bg-color {
  background-color: $por-sel-background;
}

.team-list__item {
  width: 270;
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: $primary-white-color;

  &:nth-child(4n) {
    margin-right: 0;
  }
}

.team-list__title {
  color: $title-text-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 10px;
}

.team-list__profession {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
